In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import mpl_toolkits
from datetime import datetime
import seaborn as sn
%matplotlib inline

In [6]:
df = pd.read_csv("clean1.csv")

In [7]:
df

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,yr_built,yr_renovated,zipcode,year,month
0,221900.0,3,1.00,1180,5650,1.0,0,0,3,1955,0,98178,2014,10
1,538000.0,3,2.25,2570,7242,2.0,0,0,3,1951,1,98125,2014,12
2,180000.0,2,1.00,770,10000,1.0,0,0,3,1933,0,98028,2015,2
3,604000.0,4,3.00,1960,5000,1.0,0,0,5,1965,0,98136,2014,12
4,510000.0,3,2.00,1680,8080,1.0,0,0,3,1987,0,98074,2015,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,360000.0,3,2.50,1530,1131,3.0,0,0,3,2009,0,98103,2014,5
21609,400000.0,4,2.50,2310,5813,2.0,0,0,3,2014,0,98146,2015,2
21610,402101.0,2,0.75,1020,1350,2.0,0,0,3,2009,0,98144,2014,6
21611,400000.0,3,2.50,1600,2388,2.0,0,0,3,2004,0,98027,2015,1
21612,325000.0,2,0.75,1020,1076,2.0,0,0,3,2008,0,98144,2014,10

In [39]:
from sklearn.datasets import make_regression
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error
from sklearn import linear_model, datasets
from sklearn.neighbors import NearestNeighbors
from sklearn.neighbors import KNeighborsRegressor
y = df['price']
X = df[['bedrooms',
 'bathrooms',
 'sqft_living',
 'sqft_lot',
 'floors',
 'waterfront',
 'view',
 'condition',
 'yr_built',
 'yr_renovated',
 'zipcode',
 'year',
 'month'
]]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [40]:
lr = linear_model.LinearRegression()
lr.fit(X_test, y_test)

LinearRegression()

In [41]:
fansac = linear_model.RANSACRegressor()
ransac.fit(X_train,y_train)
inlier_mask = ransac.inlier_mask_
outlier_mask = np.logical_not(inlier_mask)

In [42]:
huber = linear_model.HuberRegressor()
huber.fit(X_train,y_train)

HuberRegressor()

In [43]:
tsr = linear_model.TheilSenRegressor()
tsr.fit(X_train, y_train)

TheilSenRegressor(max_subpopulation=10000)

In [58]:
kN = KNeighborsRegressor(n_neighbors=10)
kN.fit(X_train, y_train)

KNeighborsRegressor(n_neighbors=10)

In [59]:
line_y = lr.predict(X_test)
line_y_ransac = ransac.predict(X_test)

In [60]:
ransac_score = ransac.score(X_test, y_test)
lr_score = lr.score(X_test, y_test)
huber_score = huber.score(X_test, y_test)
tsr_score = tsr.score(X_test, y_test)
kn_score = kN.score(X_test,y_test)
print(ransac_score, lr_score, huber_score, tsr_score, kn_score)

0.3586158691777007 0.6001450391763461 0.48951128756541284 0.3113129127780423 0.5066341248534283

In [62]:
from sklearn.gaussian_process import GaussianProcessRegressor
gaussian = GaussianProcessRegressor()
gaussian.fit(X_train, y_train)
gaussian.score(X_test, y_test)

-1.989287145671164